[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "accmv"]
	path = accmv
	url = https://github.com/mathcg/accmv
	subdir = r
[submodule "debiasedInference"]
	path = debiasedInference
	url = https://github.com/mathcg/debiased-inference
	subdir = r
